@model List<ResultMenuDto>
@{
    ViewData["Title"] = "AMenu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>ImageUrl</th>
        <th>Price</th>
        <th>CategoryId</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <th>@item.Name</th>
            <td>@item.Description</td>
            <td>@item.ImageUrl</td>
            <td>@item.Price</td>
            <td>@item.CategoryId</td>
            <td><a href="/AdminMenu/DeleteMenu/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/AdminMenu/UpdateMenu/@item.Id" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/AdminMenu/AddMenu/" class="btn mb-1 btn-rounded btn-outline-info">Menu</a>
